@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

#header {
    height: 400px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.10),rgba(0, 0, 0, 0.60)), url('https://images.unsplash.com/photo-1610008885395-d4b47c2f5c8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fHNjaG9vbHxlbnwwfHwwfHw%3D');
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
}
#header .menu {
    padding-top: 15px;
}

#header .menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

#header .menu img {
    height: 40px;

}
#header .menu li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.5px;
}

#header .menu li a:hover{
    text-decoration: underline;
}

#header .menu li .queroseraluno {
    text-decoration: none;
    background-color: hsl(44, 83%, 60%);
    padding: 10px 20px;
    border-radius: 10px;
    transition: ease all .1s;
}

#header .menu li .queroseraluno:hover {
    text-decoration: none;
    background-color: hsl(44, 83%, 51%);
    padding: 12px 22px;
    font-size: 18px;
}

